@charset "utf-8";
body {
    background-color: #a3792e;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.main-container {
    background-color: #faeebc;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 0;
}

nav {
    background-color: #879074;
}

.header-pic {
    width: 100vw;
    height: auto;
}
